@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
    font-family: "Raleway";
    text-align:center;
    background-image: url('images/acnh.png');

}

li {
    list-style-type: none;
}